<!--
  ~ created by :hm_53
  ~ created date:16-1-25 上午10:01
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanb.viewinjectlibary">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
